.form-container {
  width: 75rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

form {
  display: flex;
}

.form-book-title {
  width: 40%;
}

.form-book-category {
  width: 25%;
}

.select {
  width: 100%;
}

.add-btn {
  width: 15%;
}
