@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap';

header {
  display: flex;
  padding: 1rem 3rem;
  align-items: center;
  width: 100%;
}

.Bookstore-CMS {
  width: 18rem;
  height: 3rem;
  font-size: 2.1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.BOOKS {
  width: 3.688rem;
  height: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.CATEGORIES {
  width: 6.563rem;
  height: 1rem;
  opacity: 0.5;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.d-flex {
  display: flex;
}

li {
  list-style: none;
  margin: 0 1rem;
}
