* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  background: #1d7874;
  height: 100vh;
  color: #fff;
  padding: 20px 50px;
  
  
}

.navigation .nav-header {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation {
  color: #1d7874;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav-link {
  padding-right: 21px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
}

.navigation .nav-link:hover {
  color: black;
}

.logoStyle {
  text-decoration: none;
  font-size: 3em;
  text-transform: uppercase;
  color: #071e22;

}

.list-style {
  list-style: none;
  font-size: 1.5rem;
}

.book-list {
  padding: 5px 10px;
}

.book-list button {
  padding: 10px;
}

.title-author input {
  padding: 10px;
}

.title-author button {
  padding: 10px;
}
