.navigation .nav-header {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav-link {
  padding-right: 21px;
  font-size: 18px;
  text-transform: uppercase;
  color: #121212;
  font-size: 0.813rem;
}

.navigation .nav-link:hover {
  color: black;
}

.logoStyle {
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  color: #0290ff;
}

.list-style {
  list-style: none;
  font-size: 1.875rem;
  font-weight: 800;
}
.form-input > input {
  padding: 5px 10px;
}

.form-input button {
  padding: 5px 10px;
}

.removeBtn {
  padding: 5px 10px;
}