.navigation .nav-header {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav-link {
  padding-right: 21px;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(245 163 11);
}

.navigation .nav-link:hover {
  color: black;
}

.logoStyle {
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  color: rgb(245 163 11);
}

.list-style {
  list-style: none;
}
